/*!*******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/common.scss ***!
  \*******************************************************************************************************************************************************************************************************************/
:root {
  --color-primary: #235ad1;
  --color-text: #000;
  --color-hover: #1F37B2;
  --color-blue: #485BC0;
  --color-white: #FFFFFF;
  --color-gray: #484A4C;
  --color-red: #FF0017;
  --color-black: #000000;
  --font-eUkraine: 'e-Ukraine', 'Arial', sans-serif;
  --font-eUkraineHead: 'e-Ukraine Head', 'Arial', sans-serif; }

/*images*/
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

:before, :after {
  box-sizing: border-box; }

ul, ol {
  list-style: none; }

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: all .3s; }

input, textarea {
  outline: none; }
  input:focus, textarea:focus {
    outline: none; }
  input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0 1000px transparent inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
    color: #fff; }

img, svg, video {
  max-width: 100%;
  height: auto; }

input[type=button], input[type=submit], input[type=reset], button {
  cursor: pointer; }

picture {
  display: block; }

iframe {
  max-width: 100%; }

input, select, textarea, button {
  font-family: 'e-Ukraine', 'Arial', sans-serif; }

textarea:focus-visible {
  outline: 0; }

html {
  -webkit-tap-highlight-color: transparent !important;
  font-size: 16px; }

body {
  position: relative;
  margin: auto;
  font-family: 'e-Ukraine', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  color: var(--color-text);
  min-width: 20rem; }

.container {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem; }

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main {
  flex: 1; }

.menu-open {
  overflow: hidden; }
  .menu-open .header .mobNav {
    transform: translateY(0); }

.icon {
  fill: currentColor; }

.section-head {
  margin: 3.75rem 0; }
  @media only screen and (max-width: 767px) {
    .section-head {
      margin: 1.875rem 0; } }

h1, .h1-title {
  font-size: 3rem;
  line-height: 3.375rem;
  font-weight: 700; }
  @media only screen and (max-width: 1199px) {
    h1, .h1-title {
      font-size: 2.375rem;
      line-height: 2.75rem; } }
  @media only screen and (max-width: 767px) {
    h1, .h1-title {
      font-size: 2rem;
      line-height: 2.625rem; } }

h2, .h2-title {
  font-size: 2.25rem;
  line-height: 2.875rem;
  font-weight: 500; }
  @media only screen and (max-width: 767px) {
    h2, .h2-title {
      font-size: 1.75rem;
      line-height: 2.375rem; } }

h3, .h3-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 500; }
  @media only screen and (max-width: 767px) {
    h3, .h3-title {
      font-size: 1rem;
      line-height: 1.25rem; } }

h4, .h4-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700; }

.section-title {
  position: relative;
  width: fit-content;
  display: flex;
  gap: 1.4375rem;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0.15rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 2.25rem; }
  @media only screen and (max-width: 767px) {
    .section-title {
      margin-bottom: 1.625rem;
      font-size: 1.25rem;
      line-height: 1.625rem;
      letter-spacing: 0.125rem; } }
  .section-title::after {
    content: '';
    display: block;
    min-width: 2.5rem;
    width: 10%;
    max-width: 4.375rem;
    height: 0.125rem;
    background-color: var(--color-blue); }

.sub-title {
  font-size: 0.875rem;
  color: var(--color-blue);
  line-height: 1.25rem;
  font-weight: 400; }
  @media only screen and (max-width: 767px) {
    .sub-title {
      font-size: 0.75rem;
      line-height: 1.125rem; } }

a {
  font-size: 0.875rem;
  color: var(--color-text);
  line-height: 1.25rem;
  font-weight: 400;
  transition: color .35s ease, background-color .35s ease, border .35s ease; }

p {
  font-size: 0.875rem;
  color: var(--color-gray);
  line-height: 1.25rem;
  font-weight: 300; }
  @media only screen and (max-width: 767px) {
    p {
      font-size: 0.75rem;
      line-height: 1.125rem; } }

input {
  min-height: 2.25rem;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  color: var(--color-black);
  line-height: 1.25rem;
  font-weight: 400;
  border: 0.0625rem solid #E8E8E8;
  border-radius: 0.1875rem; }
  input::placeholder {
    color: #999999; }

.checkbox-btn {
  vertical-align: top;
  width: 0 !important; }

.checkbox-btn + label {
  cursor: pointer;
  padding: 0 0 0 1.75rem;
  margin: 0; }

.checkbox-btn:not(checked) {
  position: absolute;
  opacity: 0; }

.checkbox-btn:not(checked) + label {
  position: relative;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 300;
  cursor: pointer;
  user-select: none;
  float: none;
  display: block;
  transition: all 0.3s ease-in-out; }

.checkbox-btn:not(checked) + label:after {
  content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTMuNDc3IDcuMDIzdi4wMDFhLjU2NC41NjQgMCAwIDAgLjc5NSAwbDUuMjUxLTUuMjUxYS41NjQuNTY0IDAgMCAwIDAtLjc5Ni41NjQuNTY0IDAgMCAwLS43OTYgMEwzLjg3NSA1LjgzIDEuMjczIDMuMjI3YS41NjQuNTY0IDAgMCAwLS43OTYgMCAuNTY0LjU2NCAwIDAgMCAwIC43OTZsMyAzWk0uODU1IDMuMjUxYS4zNzUuMzc1IDAgMCAwLS4yNDUuNjRsMyAzLTMtM2EuMzc2LjM3NiAwIDAgMSAuMjQ1LS42NFpNOS4xMDUgMWEuMzc1LjM3NSAwIDAgMC0uMjQ1LjEwOUwzLjg3NSA2LjA5NSA4Ljg2IDEuMTFBLjM3NS4zNzUgMCAwIDEgOS4xMDUgMVoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=);
  width: 1rem;
  height: 0.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out; }

.checkbox-btn:not(checked) + label:before {
  content: '';
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #c9cbcd;
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out; }

.checkbox-btn:checked + label::before {
  border-color: var(--color-blue);
  background-color: var(--color-blue); }

.checkbox-btn:checked + label:after {
  opacity: 1; }

.swiper {
  margin: 3.65625rem 0 0 0; }
  @media only screen and (max-width: 1199px) {
    .swiper {
      margin: 3rem 0 0 0; } }
  @media only screen and (max-width: 767px) {
    .swiper {
      margin: 2.125rem 0 0 0; } }
  .swiper .swiper-pagination {
    position: relative;
    bottom: 0;
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    justify-content: center;
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1.875rem;
    font-weight: 500;
    user-select: none; }
    .swiper .swiper-pagination .current {
      position: relative;
      top: 0.0625rem;
      min-width: 2.0625rem;
      display: flex;
      justify-content: flex-end;
      font-size: 1.5rem;
      color: var(--color-blue); }
    .swiper .swiper-pagination .total {
      min-width: 1.625rem;
      display: flex;
      justify-content: flex-start; }
  .swiper .swiper-button-prev {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: 0;
    color: var(--color-black);
    transition: color .35s ease; }
    @media only screen and (min-width: 1200px) {
      .swiper .swiper-button-prev:hover {
        color: var(--color-blue); } }
    .swiper .swiper-button-prev::after {
      display: none; }
    .swiper .swiper-button-prev .icon {
      width: 1.375rem;
      height: 0.9375rem; }
  .swiper .swiper-button-next {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: 0;
    color: var(--color-black);
    transition: color .35s ease; }
    @media only screen and (min-width: 1200px) {
      .swiper .swiper-button-next:hover {
        color: var(--color-blue); } }
    .swiper .swiper-button-next::after {
      display: none; }
    .swiper .swiper-button-next .icon {
      width: 1.375rem;
      height: 0.9375rem; }

@font-face {
  font-family: "e-Ukraine";
  src: url(../.././assets/fonts/e-Ukraine-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "e-Ukraine";
  src: url(../.././assets/fonts/e-Ukraine-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "e-Ukraine";
  src: url(../.././assets/fonts/e-Ukraine-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "e-Ukraine";
  src: url(../.././assets/fonts/e-Ukraine-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "e-Ukraine Head";
  src: url(../.././assets/fonts/e-UkraineHead-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "e-Ukraine Head";
  src: url(../.././assets/fonts/e-UkraineHead-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

.header {
  position: sticky;
  top: 0;
  min-height: 7.5rem;
  box-shadow: 0 0.0625rem 0 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.9375rem);
  z-index: 10; }
  @media only screen and (max-width: 1199px) {
    .header {
      min-height: 4rem;
      background-color: var(--color-white); } }
  .header .container {
    display: flex;
    gap: 1.875rem;
    align-items: center;
    justify-content: space-between;
    flex: 1; }
  .header__top {
    display: flex;
    flex-direction: column;
    min-height: 4rem;
    padding: 0.75rem 0; }
    @media only screen and (max-width: 1199px) {
      .header__top {
        min-height: 4rem;
        padding: 0.25rem 0; } }
  .header__bottom {
    display: flex;
    flex-direction: column;
    min-height: 3.5rem;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.1); }
    @media only screen and (max-width: 1199px) {
      .header__bottom {
        display: none; } }
  .header__left {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center; }
    @media only screen and (max-width: 1199px) {
      .header__left {
        display: none; } }
  .header__right {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    align-items: center; }
  .header__title {
    font-family: "e-Ukraine Head", "Arial", sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-right: 6.5625rem; }
  .header__logo {
    width: fit-content;
    height: 2.5rem;
    display: flex;
    align-items: center; }
    .header__logo img {
      display: block;
      max-height: 100%; }
  .header .contact {
    display: flex;
    gap: 2.375rem;
    align-items: center; }
    .header .contact__item {
      position: relative;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      transition: color .35s ease;
      pointer-events: none; }
      @media only screen and (min-width: 1200px) {
        .header .contact__item:hover {
          color: var(--color-blue); } }
      .header .contact__item:not(:first-child):before {
        content: '';
        position: absolute;
        top: calc(50% - 0.1875rem);
        left: -1.375rem;
        display: block;
        width: 0.375rem;
        height: 0.375rem;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%; }
    .header .contact__icon {
      width: 1.25rem;
      height: 1.25rem; }
    .header .contact__link {
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 400;
      pointer-events: auto; }
      @media only screen and (min-width: 1200px) {
        .header .contact__link:hover {
          color: var(--color-blue); } }
  .header .nav {
    display: flex; }
    .header .nav__list {
      display: flex;
      flex-wrap: wrap;
      gap: 0 1.875rem; }
    .header .nav__item {
      margin: 0; }
    .header .nav__link {
      position: relative;
      height: 3.4375rem;
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 400;
      user-select: none; }
      .header .nav__link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.125rem;
        background-color: var(--color-blue);
        -webkit-transform-origin: right center;
        -ms-transform-origin: right center;
        transform-origin: right center;
        transform: scale(0, 1);
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
      @media only screen and (min-width: 1200px) {
        .header .nav__link:hover {
          color: var(--color-blue); } }
      .header .nav__link_active {
        color: var(--color-blue); }
        .header .nav__link_active::after {
          -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
          transform-origin: left center;
          -webkit-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          transform: scale(1, 1); }
  .header__btn {
    height: 3.4375rem;
    display: flex;
    gap: 0.625rem;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    white-space: nowrap;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: opacity .35s ease, color .35s ease; }
    .header__btn .icon {
      width: 1.25rem;
      height: 1.25rem; }
    @media only screen and (min-width: 1200px) {
      .header__btn:hover {
        opacity: .8;
        color: var(--color-blue); } }
  .header .toggle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 3.125rem;
    height: 3.375rem;
    padding: 0 0.625rem;
    cursor: pointer;
    z-index: 1;
    display: none; }
    @media only screen and (max-width: 1199px) {
      .header .toggle-menu {
        display: flex; } }
    .header .toggle-menu span {
      display: block;
      position: absolute;
      top: calc(50% - 0.125rem);
      left: 0.625rem;
      right: 0.625rem;
      height: 0.125rem;
      border-radius: 0.125rem;
      width: calc(100% - 1.25rem);
      background: var(--color-black);
      transition: all 0.35s ease-in-out; }
      .header .toggle-menu span:before {
        content: "";
        position: absolute;
        display: block;
        top: -0.5rem;
        left: 0;
        width: 100%;
        height: 0.125rem;
        border-radius: 0.125rem;
        background-color: var(--color-black);
        transition: all 0.25s ease-in-out;
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform; }
      .header .toggle-menu span:after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        bottom: -0.5rem;
        width: 100%;
        height: 0.125rem;
        border-radius: 0.125rem;
        background-color: var(--color-black);
        transition: all 0.25s ease-in-out; }
    .header .toggle-menu.active span {
      background-color: transparent;
      transition: all 0.15s ease-in-out; }
      .header .toggle-menu.active span:before {
        top: 0;
        transform: rotate(45deg); }
      .header .toggle-menu.active span:after {
        bottom: 0;
        transform: rotate(-45deg); }
  .header .mobNav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100dvh - 4rem);
    display: flex;
    flex-direction: column;
    padding: 1.25rem 0.9375rem;
    overflow: auto;
    background-color: var(--color-white);
    z-index: 8;
    transform: translateX(-100%);
    transition: .6s transform; }
    .header .mobNav .header__title {
      margin-right: 0;
      margin-bottom: 1.25rem; }
    .header .mobNav .header__contact {
      gap: 0.625rem 2.375rem;
      flex-wrap: wrap; }
    .header .mobNav .nav {
      flex: 1;
      width: 100%;
      padding: 0.875rem 0;
      border-top: 0.0625rem solid rgba(0, 0, 0, 0.1); }
      .header .mobNav .nav__list {
        flex-direction: column;
        width: 100%; }
      .header .mobNav .nav__link {
        display: block;
        height: auto;
        padding: 0.875rem 0;
        font-size: 1rem;
        line-height: 1.125rem; }
        .header .mobNav .nav__link::after {
          display: none; }

.home .header, .teams .header {
  margin-bottom: -7.5rem; }
  @media only screen and (max-width: 1199px) {
    .home .header, .teams .header {
      margin-bottom: -4rem; } }

.footer {
  background-color: var(--color-black); }
  .footer__top {
    padding: 5rem 0 4.8125rem 0;
    display: flex;
    gap: 2.875rem;
    justify-content: space-between; }
    @media only screen and (max-width: 1199px) {
      .footer__top {
        gap: 2.125rem;
        flex-wrap: wrap;
        padding: 4rem 0; } }
    @media only screen and (max-width: 767px) {
      .footer__top {
        padding: 2.75rem 0; } }
  .footer__bottom {
    padding: 2.5625rem 0 2.75rem 0;
    display: flex;
    gap: 1.25rem 2.5rem;
    justify-content: space-between;
    border-top: 0.0625rem solid rgba(232, 239, 241, 0.1); }
    @media only screen and (max-width: 1199px) {
      .footer__bottom {
        padding: 1.875rem 0;
        flex-wrap: wrap;
        justify-content: center; } }
  .footer .partner {
    width: calc(100% - 16.875rem - 16.875rem - 2.875rem - 2.875rem); }
    @media only screen and (max-width: 1199px) {
      .footer .partner {
        width: 100%;
        order: 3; } }
    .footer .partner__title {
      margin-bottom: 1.5rem;
      font-size: 0.75rem;
      color: var(--color-blue);
      line-height: 1.25rem;
      letter-spacing: 0.1375rem;
      font-weight: 700;
      text-transform: uppercase; }
    .footer .partner__list {
      display: flex;
      gap: 1rem 3.75rem;
      flex-wrap: wrap;
      margin: 2.125rem 0 2.25rem 0; }
      @media only screen and (max-width: 767px) {
        .footer .partner__list {
          margin: 1.5rem 0;
          gap: 0.75rem 2.5rem; } }
    .footer .partner__item {
      height: 3rem;
      display: flex;
      align-items: center; }
      .footer .partner__item img {
        max-height: 100%; }
  .footer .nav {
    width: 14.875rem;
    max-width: 100%; }
    .footer .nav__title {
      margin-bottom: 1.5rem;
      font-size: 0.75rem;
      color: var(--color-blue);
      line-height: 1.25rem;
      letter-spacing: 0.1375rem;
      font-weight: 700;
      text-transform: uppercase; }
    .footer .nav__list {
      display: flex;
      gap: 0.5rem;
      flex-direction: column; }
    .footer .nav__link {
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 0.0625rem solid transparent; }
      @media only screen and (min-width: 1200px) {
        .footer .nav__link:hover {
          color: var(--color-white);
          border-bottom-color: var(--color-white); } }
  .footer .contact {
    width: 16.875rem;
    max-width: 100%; }
    .footer .contact__title {
      margin-bottom: 1.5rem;
      font-size: 0.75rem;
      color: var(--color-blue);
      line-height: 1.25rem;
      letter-spacing: 0.1375rem;
      font-weight: 700;
      text-transform: uppercase; }
    .footer .contact .list {
      display: flex;
      gap: 1.25rem;
      flex-direction: column;
      margin: 1.5rem 0; }
      .footer .contact .list__item {
        font-size: 0.875rem;
        color: var(--color-white);
        line-height: 1.25rem;
        font-weight: 400; }
      .footer .contact .list__link {
        font-size: 0.875rem;
        color: var(--color-white);
        line-height: 1.25rem;
        font-weight: 400; }
        .footer .contact .list__link_phone {
          font-size: 1.5rem;
          line-height: 2rem; }
    .footer .contact .soc {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      margin: 1.75rem 0; }
      .footer .contact .soc__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1.5rem;
        height: 1.5rem;
        color: var(--color-white); }
        .footer .contact .soc__link .icon {
          max-width: 100%;
          max-height: 100%; }
        @media only screen and (min-width: 1200px) {
          .footer .contact .soc__link:hover {
            color: var(--color-white); } }
    .footer .contact__btn {
      width: fit-content;
      height: 3rem;
      padding: 0 1.5rem;
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
      color: var(--color-white);
      line-height: 1.5rem;
      font-weight: 500;
      background-color: var(--color-blue);
      border: none;
      outline: none;
      border-radius: 1.875rem; }
      @media only screen and (min-width: 1200px) {
        .footer .contact__btn:hover {
          background-color: var(--color-hover); } }
  .footer__copyright {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.25rem;
    font-weight: 400;
    white-space: nowrap; }
    @media only screen and (max-width: 1199px) {
      .footer__copyright {
        order: 2; } }
  .footer__privacy {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem 1.625rem;
    flex-wrap: wrap; }
    @media only screen and (max-width: 1199px) {
      .footer__privacy {
        justify-content: center; } }
    .footer__privacy a {
      font-size: 0.875rem;
      color: rgba(255, 255, 255, 0.7);
      line-height: 1.25rem;
      font-weight: 400; }
      @media only screen and (min-width: 1200px) {
        .footer__privacy a:hover {
          color: var(--color-white); } }


/*# sourceMappingURL=common.css.map*/