/*!***************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/result.scss ***!
  \***************************************************************************************************************************************************************************************************************************/
/*images*/
.result {
  margin: 4.9375rem 0; }
  @media only screen and (max-width: 767px) {
    .result {
      margin: 4rem 0; } }
  .result__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 4.75rem 2.125rem 4.5rem 2.125rem;
    border-width: 0.25rem;
    border-style: solid;
    -o-border-image: linear-gradient(45deg, #d16ba5 0%, #c777b9 9.091%, #ba83ca 18.182%, #aa8fd8 27.273%, #9a9ae1 36.364%, #8aa7ec 45.455%, #79b3f4 54.545%, #69bff8 63.636%, #52cffe 72.727%, #41dfff 81.818%, #46eefa 90.909%, #5ffbf1 100%) 1;
    border-image: linear-gradient(45deg, #d16ba5 0%, #c777b9 9.091%, #ba83ca 18.182%, #aa8fd8 27.273%, #9a9ae1 36.364%, #8aa7ec 45.455%, #79b3f4 54.545%, #69bff8 63.636%, #52cffe 72.727%, #41dfff 81.818%, #46eefa 90.909%, #5ffbf1 100%) 1; }
    @media only screen and (max-width: 1199px) {
      .result__content {
        padding: 4.125rem 1.5rem; } }
    @media only screen and (max-width: 767px) {
      .result__content {
        padding: 2.75rem 1.5rem; } }
  .result .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .result .list__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 1.40625rem);
      flex: 0 1 calc(25% - 1.40625rem);
      max-width: calc(25% - 1.40625rem);
      text-align: center; }
      @media only screen and (max-width: 1199px) {
        .result .list__item {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(50% - 0.9375rem);
          flex: 0 1 calc(50% - 0.9375rem);
          max-width: calc(50% - 0.9375rem); } }
      @media only screen and (max-width: 767px) {
        .result .list__item {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
          flex: 0 1 100%;
          max-width: 100%; } }
    .result .list__number {
      margin-bottom: 0.8125rem;
      font-size: 3rem;
      color: var(--color-blue);
      line-height: 3.625rem;
      font-weight: 700; }
      @media only screen and (max-width: 1199px) {
        .result .list__number {
          font-size: 2.5rem;
          line-height: 3.125rem; } }
      @media only screen and (max-width: 767px) {
        .result .list__number {
          font-size: 2.25rem;
          line-height: 2.875rem;
          margin-bottom: 0.625rem; } }
      .result .list__number span {
        font-size: 1.25rem;
        line-height: 1.125rem;
        margin-left: 0.5rem; }


/*# sourceMappingURL=section-result.css.map*/