/*!************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/404.scss ***!
  \************************************************************************************************************************************************************************************************************************/
/*images*/
.error-404 {
  padding: 5rem 0;
  text-align: center; }
  .error-404 .h2-title {
    margin-bottom: 1rem; }
  .error-404 .h3-title {
    margin-bottom: 1.3125rem; }
  .error-404__image {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 23.125rem;
    margin-bottom: -0.9375rem; }
    .error-404__image img {
      display: block;
      max-height: 100%;
      margin: 0 auto; }
  .error-404__btn {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1.875rem;
    margin: 59px auto 0;
    font-size: 1rem;
    color: var(--color-white);
    line-height: 1.5rem;
    font-weight: 500;
    background-color: var(--color-blue);
    border: none;
    outline: none;
    border-radius: 1.875rem; }
    @media only screen and (max-width: 767px) {
      .error-404__btn {
        margin-top: 1.875rem; } }
    @media only screen and (min-width: 1200px) {
      .error-404__btn:hover {
        background-color: var(--color-hover); } }


/*# sourceMappingURL=section-404.css.map*/