/*!**********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/meetings_list.scss ***!
  \**********************************************************************************************************************************************************************************************************************************/
/*images*/
.breadcrumbs {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 5rem 0 1.1875rem 0; }
  @media only screen and (max-width: 1199px) {
    .breadcrumbs {
      margin: 3.75rem 0 1.1875rem 0; } }
  @media only screen and (max-width: 767px) {
    .breadcrumbs {
      margin: 1.875rem 0 0.75rem 0; } }
  .breadcrumbs__item {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500; }
    .breadcrumbs__item .icon {
      width: 0.5rem;
      height: 0.5rem;
      color: var(--color-gray); }
  .breadcrumbs__link {
    font-size: 0.75rem;
    color: var(--color-gray);
    line-height: 1rem;
    font-weight: 500; }
    @media only screen and (min-width: 1200px) {
      .breadcrumbs__link:hover {
        color: var(--color-blue); } }

.pagination {
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 1199px) {
    .pagination {
      justify-content: center; } }
  @media only screen and (max-width: 767px) {
    .pagination {
      margin: 2.75rem -0.9375rem 0 -0.9375rem; } }
  .pagination__prev {
    min-width: 2.25rem;
    min-height: 2.25rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0 0.75rem;
    font-size: 0.875rem;
    color: var(--color-blue);
    line-height: 1.25rem;
    font-weight: 500;
    transition: background-color .35s ease; }
    @media only screen and (max-width: 1199px) {
      .pagination__prev {
        gap: 0;
        font-size: 0;
        justify-content: center; } }
    @media only screen and (min-width: 1200px) {
      .pagination__prev:hover {
        background-color: #E8E8E8; } }
    .pagination__prev .icon {
      min-width: 0.5rem;
      width: 0.5rem;
      height: 0.83313rem;
      order: -1; }
  .pagination__next {
    min-width: 2.25rem;
    min-height: 2.25rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0 0.75rem;
    font-size: 0.875rem;
    color: var(--color-blue);
    line-height: 1.25rem;
    font-weight: 500;
    text-align: right;
    transition: background-color .35s ease; }
    @media only screen and (max-width: 1199px) {
      .pagination__next {
        gap: 0;
        font-size: 0;
        justify-content: center; } }
    @media only screen and (min-width: 1200px) {
      .pagination__next:hover {
        background-color: #E8E8E8; } }
    .pagination__next .icon {
      min-width: 0.5rem;
      width: 0.5rem;
      height: 0.83313rem; }
  .pagination__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .pagination__item {
    min-width: 2.25rem;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1.25rem; }
    @media only screen and (max-width: 767px) {
      .pagination__item {
        min-width: 1.875rem;
        font-size: 0.75rem; } }
  .pagination__link {
    width: 100%;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1.25rem;
    font-weight: 400;
    border-radius: 50%; }
    @media only screen and (max-width: 767px) {
      .pagination__link {
        height: 1.875rem;
        font-size: 0.75rem; } }
    @media only screen and (min-width: 1200px) {
      .pagination__link:not(.pagination__link_active):hover {
        color: var(--color-blue);
        background-color: #E8E8E8; } }
    .pagination__link_active {
      color: var(--color-white);
      background-color: var(--color-blue); }

.meeting-list {
  margin: 3.75rem 0 5rem 0;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  -webkit-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06); }
  @media only screen and (max-width: 1199px) {
    .meeting-list {
      margin: 2.5rem 0 3.75rem 0; } }
  @media only screen and (max-width: 767px) {
    .meeting-list {
      margin: 1.875rem 0 3.125rem 0; } }
  .meeting-list__head {
    padding: 1rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.625rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: #F6F6F6; }
    @media only screen and (max-width: 767px) {
      .meeting-list__head {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .meeting-list__head select {
      min-height: 2.25rem;
      padding: 0 0.5rem;
      font-size: 0.875rem;
      color: var(--color-gray);
      line-height: 1.25rem;
      font-weight: 400;
      border: 0.0625rem solid #E8E8E8;
      border-radius: 0.1875rem; }
      .meeting-list__head select:focus-visible {
        border-color: #E8E8E8;
        outline: none; }
  .meeting-list__content {
    background-color: var(--color-white); }
  .meeting-list__bottom {
    padding: 0.875rem 1rem;
    background-color: #F6F6F6; }
  .meeting-list table {
    width: 100%;
    text-align: left;
    border-collapse: collapse; }
    @media only screen and (max-width: 767px) {
      .meeting-list table {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
    .meeting-list table thead {
      background-color: #F6F6F6; }
      @media only screen and (max-width: 767px) {
        .meeting-list table thead tr {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
    @media only screen and (max-width: 767px) {
      .meeting-list table tbody {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        overflow: auto; } }
    @media only screen and (max-width: 767px) {
      .meeting-list table tbody tr {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 10rem; } }
    .meeting-list table tbody tr:not(:last-child) {
      border-bottom: 0.0625rem solid #F2F2F2; }
    @media only screen and (min-width: 1200px) {
      .meeting-list table tr th:first-child {
        width: 38.5%; } }
    @media only screen and (min-width: 1200px) {
      .meeting-list table tr th:nth-child(2) {
        width: 7.625rem; } }
    @media only screen and (min-width: 1200px) {
      .meeting-list table tr th:last-child {
        width: 3.0625rem;
        text-align: center; } }
    .meeting-list table th {
      padding: 1.25rem 1rem;
      font-size: 0.75rem;
      color: #373737;
      line-height: 1rem;
      font-weight: 500; }
      @media only screen and (max-width: 767px) {
        .meeting-list table th {
          min-height: 3.75rem;
          padding: 0.875rem 1rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; } }
    .meeting-list table td {
      padding: 0.875rem 1rem;
      font-size: 0.875rem;
      color: #373737;
      line-height: 1.25rem;
      font-weight: 400; }
      @media only screen and (max-width: 767px) {
        .meeting-list table td {
          min-height: 3.75rem;
          font-size: 0.75rem;
          line-height: 1rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          border-bottom: 0.0625rem solid #F2F2F2; } }
      @media only screen and (max-width: 767px) {
        .meeting-list table td p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden; } }
      .meeting-list table td .icon {
        width: 1rem;
        height: 0.625rem;
        color: var(--color-blue); }
  .meeting-list .pagination {
    margin: 0; }


/*# sourceMappingURL=section-meetings_list.css.map*/