/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/hits.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
/*images*/
.hit-card {
  width: 100%; }
  .hit-card .h4-title {
    margin-bottom: 1rem; }
  .hit-card__label {
    width: fit-content;
    height: 1.25rem;
    display: flex;
    align-items: center;
    padding: 0 0.375rem;
    margin: 0.9375rem 0 0.5625rem 0;
    font-size: 0.625rem;
    color: var(--color-white);
    line-height: 1.25rem;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--color-red); }
    .hit-card__label_blue {
      background-color: var(--color-blue); }

.hits {
  margin: 5rem 0; }
  @media only screen and (max-width: 1199px) {
    .hits {
      margin: 4rem 0; } }
  .hits .h2-title {
    margin-bottom: 2.625rem; }
    @media only screen and (max-width: 767px) {
      .hits .h2-title {
        margin-bottom: 2.125rem; } }
  .hits__bottom {
    margin-top: 3.6875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 1199px) {
      .hits__bottom {
        margin-top: 2.625rem; } }
    @media only screen and (max-width: 767px) {
      .hits__bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .hits__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.6875rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .hits__all {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1.5rem;
    font-size: 1rem;
    color: var(--color-white);
    line-height: 1.5rem;
    font-weight: 500;
    background-color: var(--color-blue);
    border: none;
    outline: none;
    border-radius: 1.875rem; }
    .hits__all .icon {
      width: 0.5rem;
      height: 0.83313rem; }
    @media only screen and (min-width: 1200px) {
      .hits__all:hover {
        background-color: var(--color-hover); } }


/*# sourceMappingURL=section-hits.css.map*/