/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/hits_list.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
/*images*/
.breadcrumbs {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 5rem 0 1.1875rem 0; }
  @media only screen and (max-width: 1199px) {
    .breadcrumbs {
      margin: 3.75rem 0 1.1875rem 0; } }
  @media only screen and (max-width: 767px) {
    .breadcrumbs {
      margin: 1.875rem 0 0.75rem 0; } }
  .breadcrumbs__item {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500; }
    .breadcrumbs__item .icon {
      width: 0.5rem;
      height: 0.5rem;
      color: var(--color-gray); }
  .breadcrumbs__link {
    font-size: 0.75rem;
    color: var(--color-gray);
    line-height: 1rem;
    font-weight: 500; }
    @media only screen and (min-width: 1200px) {
      .breadcrumbs__link:hover {
        color: var(--color-blue); } }

.hit-card {
  width: 100%; }
  .hit-card .h4-title {
    margin-bottom: 1rem; }
  .hit-card__label {
    width: fit-content;
    height: 1.25rem;
    display: flex;
    align-items: center;
    padding: 0 0.375rem;
    margin: 0.9375rem 0 0.5625rem 0;
    font-size: 0.625rem;
    color: var(--color-white);
    line-height: 1.25rem;
    letter-spacing: 0.0625rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--color-red); }
    .hit-card__label_blue {
      background-color: var(--color-blue); }

.hits-list {
  padding: 3.75rem 0 5rem 0; }
  @media only screen and (max-width: 1199px) {
    .hits-list {
      padding: 1.875rem 0 3.75rem 0; } }
  @media only screen and (max-width: 767px) {
    .hits-list {
      padding: 1.25rem 0 2.5rem 0; } }
  .hits-list .h1-title {
    margin-bottom: 3.75rem; }
    @media only screen and (max-width: 1199px) {
      .hits-list .h1-title {
        margin-bottom: 2.5rem; } }
    @media only screen and (max-width: 767px) {
      .hits-list .h1-title {
        margin-bottom: 1.875rem; } }
  .hits-list__bottom {
    margin-top: 3.6875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (max-width: 1199px) {
      .hits-list__bottom {
        margin-top: 2.625rem; } }
    @media only screen and (max-width: 767px) {
      .hits-list__bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .hits-list__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.6875rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }


/*# sourceMappingURL=section-hits_list.css.map*/