/*!****************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/meeting.scss ***!
  \****************************************************************************************************************************************************************************************************************************/
/*images*/
.meeting-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 21.875rem;
  border: 0.0625rem solid #e8e8e8; }
  .meeting-card__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1.4375rem 1.4375rem 1.375rem 1.4375rem; }
  .meeting-card__text {
    flex: 1; }
    .meeting-card__text p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden; }
  .meeting-card .h4-title {
    margin-bottom: 0.8125rem; }
  .meeting-card .members {
    display: flex;
    flex-direction: column; }
    .meeting-card .members__caption {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 500;
      margin-bottom: 0.5625rem; }
    .meeting-card .members__list {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-size: 0.875rem;
      color: var(--color-gray);
      line-height: 1.25rem;
      font-weight: 400; }
  .meeting-card__bottom {
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: space-between;
    padding: 1.375rem 1.5rem 1.25rem 1.5rem;
    border-top: 0.0625rem solid #e8e8e8; }
  .meeting-card .date {
    display: flex;
    align-items: center;
    gap: 0.75rem; }
    .meeting-card .date__icon {
      width: 2.25rem;
      height: 2.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--color-blue);
      background-color: #EFF7FD;
      border-radius: 50%; }
      .meeting-card .date__icon .icon {
        width: 1.25rem;
        height: 1.25rem; }
    .meeting-card .date__text {
      width: calc(100% - 2.25rem - 0.75rem); }
    .meeting-card .date__title {
      font-size: 0.75rem;
      line-height: 1rem;
      font-weight: 500;
      margin-bottom: 0.3125rem; }
    .meeting-card .date__number {
      font-size: 0.875rem;
      color: var(--color-gray);
      line-height: 1.25rem;
      font-weight: 400; }
  .meeting-card__more {
    display: flex;
    gap: 0.6875rem;
    align-items: center;
    justify-content: flex-end;
    margin: 0 0.6875rem;
    font-size: 0.875rem;
    color: var(--color-blue);
    line-height: 1.125rem;
    font-weight: 500; }
    @media only screen and (max-width: 767px) {
      .meeting-card__more {
        font-size: 0.75rem;
        line-height: 1rem;
        margin: 0; } }
    .meeting-card__more .icon {
      min-width: 0.5rem;
      width: 0.5rem;
      height: 0.83313rem; }

.meeting {
  margin: 4.9375rem 0; }
  @media only screen and (max-width: 1199px) {
    .meeting {
      margin: 4rem 0; } }
  .meeting .h2-title {
    margin-bottom: 2.625rem; }
    @media only screen and (max-width: 767px) {
      .meeting .h2-title {
        margin-bottom: 2.125rem; } }
  .meeting__bottom {
    margin-top: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 1199px) {
      .meeting__bottom {
        margin-top: 2.625rem; } }
    @media only screen and (max-width: 767px) {
      .meeting__bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .meeting__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.6875rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .meeting__all {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1.5rem;
    font-size: 1rem;
    color: var(--color-white);
    line-height: 1.5rem;
    font-weight: 500;
    background-color: var(--color-blue);
    border: none;
    outline: none;
    border-radius: 1.875rem; }
    .meeting__all .icon {
      width: 0.5rem;
      height: 0.83313rem; }
    @media only screen and (min-width: 1200px) {
      .meeting__all:hover {
        background-color: var(--color-hover); } }


/*# sourceMappingURL=section-meeting.css.map*/