/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/news.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
/*images*/
.new-card {
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    .new-card:hover .h3-title {
      color: var(--color-blue); } }
  @media only screen and (max-width: 1199px) {
    .new-card {
      display: flex;
      gap: 0.75rem; } }
  @media only screen and (max-width: 767px) {
    .new-card {
      flex: 0 1 100%;
      max-width: 100%; } }
  .new-card__image {
    width: 100%;
    height: 15rem;
    overflow: hidden; }
    @media only screen and (max-width: 1199px) {
      .new-card__image {
        width: 7.875rem;
        min-width: 7.875rem;
        height: 5.875rem; } }
    .new-card__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .35s ease; }
  .new-card .h3-title {
    transition: color .35s ease; }
    @media only screen and (max-width: 1199px) {
      .new-card .h3-title {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400; } }
  .new-card__text {
    padding-top: 1.1875rem; }
    @media only screen and (max-width: 1199px) {
      .new-card__text {
        padding-top: 0; } }
  .new-card__date {
    margin-bottom: 0.8125rem;
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1.0625rem;
    font-weight: 300; }
    @media only screen and (max-width: 1199px) {
      .new-card__date {
        font-size: 0.75rem;
        margin-bottom: 0.3125rem; } }

.news {
  padding: 4.9375rem 0 5rem 0;
  background-color: #EFF7FD; }
  @media only screen and (max-width: 1199px) {
    .news {
      padding: 4rem 0; } }
  @media only screen and (max-width: 767px) {
    .news {
      padding: 3.375rem 0; } }
  .news .h2-title {
    margin-bottom: 2.625rem; }
    @media only screen and (max-width: 767px) {
      .news .h2-title {
        margin-bottom: 2.125rem; } }
  .news__bottom {
    margin-top: 3.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.25rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media only screen and (max-width: 1199px) {
      .news__bottom {
        margin-top: 2.625rem; } }
    @media only screen and (max-width: 767px) {
      .news__bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  .news__arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.6875rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .news__all {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.75rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 1.5rem;
    font-size: 1rem;
    color: var(--color-white);
    line-height: 1.5rem;
    font-weight: 500;
    background-color: var(--color-blue);
    border: none;
    outline: none;
    border-radius: 1.875rem; }
    .news__all .icon {
      width: 0.5rem;
      height: 0.83313rem; }
    @media only screen and (min-width: 1200px) {
      .news__all:hover {
        background-color: var(--color-hover); } }


/*# sourceMappingURL=section-news.css.map*/