/*!**************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/chart.scss ***!
  \**************************************************************************************************************************************************************************************************************************/
/*images*/
.chart {
  margin: 5rem 0 5.0625rem 0;
  padding: 4.9375rem 0 5.1875rem 0;
  background-color: #EFF7FD; }
  @media only screen and (max-width: 1199px) {
    .chart {
      margin: 4rem 0;
      padding: 4rem 0; } }
  @media only screen and (max-width: 767px) {
    .chart {
      padding: 3.375rem 0; } }
  .chart .h2-title {
    margin-bottom: 3.625rem; }
    @media only screen and (max-width: 767px) {
      .chart .h2-title {
        margin-bottom: 2.125rem; } }
  .chart__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .chart__text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 29.375rem;
    max-width: calc(50% - 1rem);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 25.125rem; }
    @media only screen and (max-width: 1199px) {
      .chart__text {
        max-width: calc(50% - 1.25rem);
        height: 20rem; } }
    @media only screen and (max-width: 767px) {
      .chart__text {
        width: 100%;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        max-height: 17.5rem;
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; } }
    .chart__text::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 6.4375rem;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      background: -webkit-gradient(linear, left top, left bottom, from(#eff7fd), to(rgba(239, 247, 253, 0)));
      background: linear-gradient(180deg, #eff7fd, rgba(239, 247, 253, 0) 100%); }
  .chart .list {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    padding-bottom: 6.4375rem;
    overflow: auto; }
    .chart .list::-webkit-scrollbar {
      display: none; }
    .chart .list__item {
      font-size: 0.875rem;
      line-height: 1.125rem;
      font-weight: 300; }
  .chart .bar {
    width: calc(50% - 1rem);
    height: 25.125rem;
    padding: 0.6875rem 5.6875rem 0 4.375rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: var(--color-white); }
    @media only screen and (max-width: 1199px) {
      .chart .bar {
        width: calc(50% - 0.625rem);
        height: 20rem;
        padding: 1.875rem 0.625rem; } }
    @media only screen and (max-width: 767px) {
      .chart .bar {
        width: calc(100% + 1.875rem);
        height: 20rem;
        padding: 1.875rem 0.625rem;
        margin: 0 -0.9375rem; } }
    .chart .bar img {
      display: block;
      max-width: 100%;
      max-height: 100%; }


/*# sourceMappingURL=section-chart.css.map*/