/*!*********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/participants.scss ***!
  \*********************************************************************************************************************************************************************************************************************************/
/*images*/
.participant-card {
  width: 100%; }
  .participant-card__logo {
    width: 100%;
    height: 8rem;
    margin-bottom: 1.4375rem;
    display: flex;
    justify-content: center; }
    .participant-card__logo img {
      display: block;
      max-width: 100%;
      max-height: 100%; }
  .participant-card__text {
    padding-top: 1.5rem;
    text-align: center;
    border-top: 0.0625rem solid #e8e8e8; }
  .participant-card__title {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500; }

.participants {
  margin: 5rem 0; }
  @media only screen and (max-width: 1199px) {
    .participants {
      margin: 4rem 0; } }
  .participants hr {
    margin-bottom: 4.9375rem;
    border: 0;
    border-top: 0.0625rem solid #D9D9D9; }
    @media only screen and (max-width: 767px) {
      .participants hr {
        margin-bottom: 4rem; } }
  .participants .swiper-pagination {
    gap: 0;
    margin-top: 3.75rem; }
    .participants .swiper-pagination-bullet {
      width: 0.625rem;
      height: 0.625rem;
      margin: 0;
      background-color: var(--color-white);
      border: 0.0625rem solid var(--color-black);
      opacity: 1;
      border-radius: 1.25rem;
      -webkit-transition: all .3s ease;
      transition: all .3s ease; }
      .participants .swiper-pagination-bullet-active {
        width: 1.125rem;
        background-color: var(--color-black); }


/*# sourceMappingURL=section-participants.css.map*/