/*!******************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/news_list.scss ***!
  \******************************************************************************************************************************************************************************************************************************/
/*images*/
.breadcrumbs {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 5rem 0 1.1875rem 0; }
  @media only screen and (max-width: 1199px) {
    .breadcrumbs {
      margin: 3.75rem 0 1.1875rem 0; } }
  @media only screen and (max-width: 767px) {
    .breadcrumbs {
      margin: 1.875rem 0 0.75rem 0; } }
  .breadcrumbs__item {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500; }
    .breadcrumbs__item .icon {
      width: 0.5rem;
      height: 0.5rem;
      color: var(--color-gray); }
  .breadcrumbs__link {
    font-size: 0.75rem;
    color: var(--color-gray);
    line-height: 1rem;
    font-weight: 500; }
    @media only screen and (min-width: 1200px) {
      .breadcrumbs__link:hover {
        color: var(--color-blue); } }

.new-card {
  width: 100%; }
  @media only screen and (min-width: 1200px) {
    .new-card:hover .h3-title {
      color: var(--color-blue); } }
  @media only screen and (max-width: 1199px) {
    .new-card {
      display: flex;
      gap: 0.75rem; } }
  @media only screen and (max-width: 767px) {
    .new-card {
      flex: 0 1 100%;
      max-width: 100%; } }
  .new-card__image {
    width: 100%;
    height: 15rem;
    overflow: hidden; }
    @media only screen and (max-width: 1199px) {
      .new-card__image {
        width: 7.875rem;
        min-width: 7.875rem;
        height: 5.875rem; } }
    .new-card__image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform .35s ease; }
  .new-card .h3-title {
    transition: color .35s ease; }
    @media only screen and (max-width: 1199px) {
      .new-card .h3-title {
        font-size: 0.8125rem;
        line-height: 1.125rem;
        font-weight: 400; } }
  .new-card__text {
    padding-top: 1.1875rem; }
    @media only screen and (max-width: 1199px) {
      .new-card__text {
        padding-top: 0; } }
  .new-card__date {
    margin-bottom: 0.8125rem;
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1.0625rem;
    font-weight: 300; }
    @media only screen and (max-width: 1199px) {
      .new-card__date {
        font-size: 0.75rem;
        margin-bottom: 0.3125rem; } }

.pagination {
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 1199px) {
    .pagination {
      justify-content: center; } }
  @media only screen and (max-width: 767px) {
    .pagination {
      margin: 2.75rem -0.9375rem 0 -0.9375rem; } }
  .pagination__prev {
    min-width: 2.25rem;
    min-height: 2.25rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0 0.75rem;
    font-size: 0.875rem;
    color: var(--color-blue);
    line-height: 1.25rem;
    font-weight: 500;
    transition: background-color .35s ease; }
    @media only screen and (max-width: 1199px) {
      .pagination__prev {
        gap: 0;
        font-size: 0;
        justify-content: center; } }
    @media only screen and (min-width: 1200px) {
      .pagination__prev:hover {
        background-color: #E8E8E8; } }
    .pagination__prev .icon {
      min-width: 0.5rem;
      width: 0.5rem;
      height: 0.83313rem;
      order: -1; }
  .pagination__next {
    min-width: 2.25rem;
    min-height: 2.25rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0 0.75rem;
    font-size: 0.875rem;
    color: var(--color-blue);
    line-height: 1.25rem;
    font-weight: 500;
    text-align: right;
    transition: background-color .35s ease; }
    @media only screen and (max-width: 1199px) {
      .pagination__next {
        gap: 0;
        font-size: 0;
        justify-content: center; } }
    @media only screen and (min-width: 1200px) {
      .pagination__next:hover {
        background-color: #E8E8E8; } }
    .pagination__next .icon {
      min-width: 0.5rem;
      width: 0.5rem;
      height: 0.83313rem; }
  .pagination__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .pagination__item {
    min-width: 2.25rem;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1.25rem; }
    @media only screen and (max-width: 767px) {
      .pagination__item {
        min-width: 1.875rem;
        font-size: 0.75rem; } }
  .pagination__link {
    width: 100%;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1.25rem;
    font-weight: 400;
    border-radius: 50%; }
    @media only screen and (max-width: 767px) {
      .pagination__link {
        height: 1.875rem;
        font-size: 0.75rem; } }
    @media only screen and (min-width: 1200px) {
      .pagination__link:not(.pagination__link_active):hover {
        color: var(--color-blue);
        background-color: #E8E8E8; } }
    .pagination__link_active {
      color: var(--color-white);
      background-color: var(--color-blue); }

.news-list {
  padding: 3.75rem 0 5rem 0; }
  @media only screen and (max-width: 1199px) {
    .news-list {
      padding: 1.875rem 0 3.75rem 0; } }
  @media only screen and (max-width: 767px) {
    .news-list {
      padding: 1.25rem 0 2.5rem 0; } }
  .news-list .h1-title {
    margin-bottom: 3.75rem; }
    @media only screen and (max-width: 1199px) {
      .news-list .h1-title {
        margin-bottom: 2.5rem; } }
    @media only screen and (max-width: 767px) {
      .news-list .h1-title {
        margin-bottom: 1.875rem; } }
  .news-list__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media only screen and (max-width: 1199px) {
      .news-list__wrapper {
        gap: 1.875rem; } }
    @media only screen and (max-width: 767px) {
      .news-list__wrapper {
        gap: 1.5rem; } }
    .news-list__wrapper hr {
      width: 100%;
      height: 0.0625rem;
      margin: 0.5rem 0 0.6875rem 0;
      border: 0;
      border-top: 0.0625rem solid #D9D9D9; }
      @media only screen and (max-width: 1199px) {
        .news-list__wrapper hr {
          display: none; } }
    .news-list__wrapper .new-card {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333333% - 1.25rem);
      flex: 0 1 calc(33.333333% - 1.25rem);
      max-width: calc(33.333333% - 1.25rem); }
      @media only screen and (max-width: 1199px) {
        .news-list__wrapper .new-card {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 calc(50% - 0.9375rem);
          flex: 0 1 calc(50% - 0.9375rem);
          max-width: calc(50% - 0.9375rem); } }
      @media only screen and (max-width: 767px) {
        .news-list__wrapper .new-card {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
          flex: 0 1 100%;
          max-width: 100%; } }


/*# sourceMappingURL=section-news_list.css.map*/