/*!*************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/step.scss ***!
  \*************************************************************************************************************************************************************************************************************************/
/*images*/
.step {
  padding-top: 0.125rem;
  margin-bottom: 4.9375rem;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .step {
      margin-bottom: 4rem; } }
  .step__head {
    margin-bottom: 3.75rem; }
    @media only screen and (max-width: 1199px) {
      .step__head {
        margin-bottom: 3rem; } }
    @media only screen and (max-width: 767px) {
      .step__head {
        margin-bottom: 2rem; } }
  .step .h2-title {
    margin-bottom: 1.1875rem; }
    @media only screen and (max-width: 767px) {
      .step .h2-title {
        margin-bottom: 0.875rem; } }
  .step .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.75rem 1.875rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .step .list__item {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(33.333333% - 1.25rem);
      flex: 0 1 calc(33.333333% - 1.25rem);
      max-width: calc(33.333333% - 1.25rem);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      gap: 0.625rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media only screen and (max-width: 767px) {
        .step .list__item {
          -webkit-box-flex: 0;
          -ms-flex: 0 1 100%;
          flex: 0 1 100%;
          gap: 0;
          max-width: 100%; } }
    .step .list__number {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 4.375rem;
      height: 4.375rem;
      margin-bottom: 1.1875rem;
      font-size: 2.125rem;
      color: var(--color-white);
      line-height: 2.5rem;
      font-weight: 700;
      background-color: var(--color-blue);
      border-radius: 50%; }
    .step .list .h4-title {
      margin-bottom: 0.4375rem; }


/*# sourceMappingURL=section-step.css.map*/