/*!***********************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/section/search_results.scss ***!
  \***********************************************************************************************************************************************************************************************************************************/
/*images*/
.breadcrumbs {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin: 5rem 0 1.1875rem 0; }
  @media only screen and (max-width: 1199px) {
    .breadcrumbs {
      margin: 3.75rem 0 1.1875rem 0; } }
  @media only screen and (max-width: 767px) {
    .breadcrumbs {
      margin: 1.875rem 0 0.75rem 0; } }
  .breadcrumbs__item {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500; }
    .breadcrumbs__item .icon {
      width: 0.5rem;
      height: 0.5rem;
      color: var(--color-gray); }
  .breadcrumbs__link {
    font-size: 0.75rem;
    color: var(--color-gray);
    line-height: 1rem;
    font-weight: 500; }
    @media only screen and (min-width: 1200px) {
      .breadcrumbs__link:hover {
        color: var(--color-blue); } }

.pagination {
  margin-top: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 1199px) {
    .pagination {
      justify-content: center; } }
  @media only screen and (max-width: 767px) {
    .pagination {
      margin: 2.75rem -0.9375rem 0 -0.9375rem; } }
  .pagination__prev {
    min-width: 2.25rem;
    min-height: 2.25rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0 0.75rem;
    font-size: 0.875rem;
    color: var(--color-blue);
    line-height: 1.25rem;
    font-weight: 500;
    transition: background-color .35s ease; }
    @media only screen and (max-width: 1199px) {
      .pagination__prev {
        gap: 0;
        font-size: 0;
        justify-content: center; } }
    @media only screen and (min-width: 1200px) {
      .pagination__prev:hover {
        background-color: #E8E8E8; } }
    .pagination__prev .icon {
      min-width: 0.5rem;
      width: 0.5rem;
      height: 0.83313rem;
      order: -1; }
  .pagination__next {
    min-width: 2.25rem;
    min-height: 2.25rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0 0.75rem;
    font-size: 0.875rem;
    color: var(--color-blue);
    line-height: 1.25rem;
    font-weight: 500;
    text-align: right;
    transition: background-color .35s ease; }
    @media only screen and (max-width: 1199px) {
      .pagination__next {
        gap: 0;
        font-size: 0;
        justify-content: center; } }
    @media only screen and (min-width: 1200px) {
      .pagination__next:hover {
        background-color: #E8E8E8; } }
    .pagination__next .icon {
      min-width: 0.5rem;
      width: 0.5rem;
      height: 0.83313rem; }
  .pagination__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .pagination__item {
    min-width: 2.25rem;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1.25rem; }
    @media only screen and (max-width: 767px) {
      .pagination__item {
        min-width: 1.875rem;
        font-size: 0.75rem; } }
  .pagination__link {
    width: 100%;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    color: var(--color-gray);
    line-height: 1.25rem;
    font-weight: 400;
    border-radius: 50%; }
    @media only screen and (max-width: 767px) {
      .pagination__link {
        height: 1.875rem;
        font-size: 0.75rem; } }
    @media only screen and (min-width: 1200px) {
      .pagination__link:not(.pagination__link_active):hover {
        color: var(--color-blue);
        background-color: #E8E8E8; } }
    .pagination__link_active {
      color: var(--color-white);
      background-color: var(--color-blue); }

.search_results {
  padding: 3.75rem 0 5rem 0; }
  @media only screen and (max-width: 1199px) {
    .search_results {
      padding: 1.875rem 0 3.75rem 0; } }
  @media only screen and (max-width: 767px) {
    .search_results {
      padding: 1.25rem 0 2.5rem 0; } }
  .search_results .h1-title {
    margin-bottom: 3.75rem; }
    @media only screen and (max-width: 1199px) {
      .search_results .h1-title {
        margin-bottom: 2.5rem; } }
    @media only screen and (max-width: 767px) {
      .search_results .h1-title {
        margin-bottom: 1.875rem;
        font-size: 1.5rem;
        line-height: 2.125rem; } }
  .search_results .results__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 2.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 2.5rem 0; }
    @media only screen and (max-width: 1199px) {
      .search_results .results__item {
        gap: 0 1.875rem; } }
    @media only screen and (max-width: 767px) {
      .search_results .results__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1.25rem; } }
    @media only screen and (max-width: 767px) {
      .search_results .results__item {
        padding: 1.875rem 0; } }
    .search_results .results__item:first-child {
      padding-top: 0; }
    .search_results .results__item:last-child {
      padding-bottom: 0; }
    .search_results .results__item:not(:last-child) {
      border-bottom: 0.0625rem solid #DFDFDF; }
  .search_results .results__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.75rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .search_results .results__image {
    width: 16.875rem;
    min-width: 16.875rem; }
    @media only screen and (max-width: 1199px) {
      .search_results .results__image {
        width: 13.75rem;
        min-width: 13.75rem; } }
    @media only screen and (max-width: 767px) {
      .search_results .results__image {
        width: 100%;
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1; } }
    .search_results .results__image img {
      display: block;
      width: 100%; }
  .search_results .results__date {
    font-size: 0.75rem;
    color: var(--color-gray);
    line-height: 1rem;
    font-weight: 500; }
  .search_results .results__link {
    font-size: 1rem;
    color: var(--color-blue);
    line-height: 1.5rem;
    font-weight: 700; }
    @media only screen and (min-width: 1200px) {
      .search_results .results__link:hover {
        color: var(--color-black);
        text-decoration: underline; } }
  .search_results .results p {
    margin: 0.75rem 0;
    font-size: 1rem;
    color: var(--color-black);
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .search_results .results p {
        margin: 0; } }


/*# sourceMappingURL=section-search_results.css.map*/