@mixin max-desktop-lg {
	@media only screen and (max-width: 1799px) { @content; }
}

@mixin max-desktop {
	@media only screen and (max-width: 1439px) { @content; }
}

@mixin max-laptop {
	@media only screen and (max-width: 1199px) { @content; }
}

@mixin max-tablet-portrait {
	@media only screen and (max-width: 991px) { @content; }
}

@mixin max-tablet {
	@media only screen and (max-width: 767px) { @content; }
}

@mixin max-small {
	@media only screen and (max-width: 350px) { @content; }
}

@mixin min-small {
	@media only screen and (min-width: 350px) { @content; }
}

@mixin min-tablet {
	@media only screen and (min-width: 768px) { @content; }
}

@mixin min-tablet-portrait {
	@media only screen and (min-width: 992px) { @content; }
}

@mixin min-laptop {
	@media only screen and (min-width: 1200px) { @content; }
}

@mixin min-desktop {
	@media only screen and (min-width: 1440px) { @content; }
}

@mixin min-desktop-lg {
	@media only screen and (min-width: 1800px) { @content; }
}

@mixin small_laptop_custom {
	@media only screen and (min-width: 1200px) and (max-height: 700px) { @content; }
}

//Px to rem. Usage: r(value in px)
@function strip-units($value) {
	@return ($value / ($value * 0 + 1));
}

@function r($pxval) {
	@if not unitless($pxval) {
		$pxval: strip-units($pxval);
	}
	$base: $fontSizeBase;
	@if not unitless($base) {
		$base: strip-units($base);
	}
	@return ($pxval / $base) * 1rem;
}

//Font face
//Usage: @include font_face('RobotoRegular', 'Roboto', 300, italic);
@mixin font_face($file_name, $font_name: $file_name, $weight: normal, $style: normal) {
	@font-face {
		font-family: quote($font_name);
		src: url('../../assets/fonts/' + $file-name + '.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content;
		}
	}
	@media (hover: none) {
		&:active {
			@content;
		}
	}
}

@mixin placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-moz-placeholder           { @content; }
	&::-moz-placeholder          { @content; }
	&:-ms-input-placeholder      { @content; }
}

@mixin size($width, $height: $width) {
	width: $width;
	height: $height;
}

/*images*/

@mixin cover {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%; }


// vertical-align at center
@mixin vcenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%); }
