* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

:before, :after {
	box-sizing: border-box;
}

ul, ol {
	list-style: none;
}

a {
	color: $primaryColor;
	text-decoration: none;
	transition: all .3s;
}

input, textarea {
	outline: none;
	&:focus {
	outline: none;
	}
	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		-webkit-text-fill-color: #fff;
		-webkit-box-shadow: 0 0 0 1000px transparent inset;
		-webkit-transition: background-color 5000s ease-in-out 0s;
		transition: background-color 5000s ease-in-out 0s;
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 51%,rgba(255,255,255,0) 100%);
		color: #fff;
	}
}

img, svg, video {
	max-width: 100%;
	height: auto;
}

input[type=button], input[type=submit], input[type=reset], button {
	cursor: pointer;
}

picture {
	display: block;
}

iframe {
	max-width: 100%;
}

input, select, textarea, button {
	font-family: 'e-Ukraine', 'Arial', sans-serif;
}

textarea:focus-visible {
	outline: 0;
}