:root {
  --color-primary: #235ad1;
  --color-text: #000;
  --color-hover: #1F37B2;
  --color-blue: #485BC0;
  --color-white: #FFFFFF;
  --color-gray: #484A4C;
  --color-red: #FF0017;
  --color-black: #000000;

  --font-eUkraine: 'e-Ukraine', 'Arial', sans-serif;
  --font-eUkraineHead: 'e-Ukraine Head', 'Arial', sans-serif;
}