$primaryColor: var(--color-primary);
$textColor: var(--color-text);
$hoverColor: var(--color-hover);
$blueColor: var(--color-blue);
$whiteColor: var(--color-white);
$grayColor: var(--color-gray);
$redColor: var(--color-red);
$blackColor: var(--color-black);

$fontSizeBase: 16px;

$eUkraine: 'e-Ukraine', 'Arial', sans-serif;
$eUkraineHead: 'e-Ukraine Head', 'Arial', sans-serif;

