.breadcrumbs {
    width: 100%;
    display: flex;
    gap: r(8);
    align-items: center;
    margin: r(80) 0 r(19) 0;

    @include max-laptop {
        margin: r(60) 0 r(19) 0;
    }

    @include max-tablet {
        margin: r(30) 0 r(12) 0;
    }

    &__item {
        font-size: r(12);
        line-height: r(16);
        font-weight: 500;

        .icon {
            width: r(8);
            height: r(8);
            color: $grayColor;
        }
    }

    &__link {
        font-size: r(12);
        color: $grayColor;
        line-height: r(16);
        font-weight: 500;

        @include min-laptop {
            &:hover {
                color: $blueColor;
            }
        }
    }
}
