.footer {
    background-color: $blackColor;

    &__top {
        padding: r(80) 0 r(77) 0;
        display: flex;
        gap: r(46);
        justify-content: space-between;

        @include max-laptop {
            gap: r(34);
            flex-wrap: wrap;
            padding: r(64) 0;
        }

        @include max-tablet {
            padding: r(44) 0;
        }
    }

    &__bottom {
        padding: r(41) 0 r(44) 0;
        display: flex;
        gap: r(20) r(40);
        justify-content: space-between;
        border-top: r(1) solid rgba(232, 239, 241, 0.1);

        @include max-laptop {
            padding: r(30) 0;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .partner {
        width: calc(100% - #{r(270)} - #{r(270)} - #{r(46)} - #{r(46)});

        @include max-laptop {
            width: 100%;
            order: 3;
        }

        &__title {
            margin-bottom: r(24);
            font-size: r(12);
            color: $blueColor;
            line-height: r(20);
            letter-spacing: r(2.2);
            font-weight: 700;
            text-transform: uppercase;
        }

        &__list {
            display: flex;
            gap: r(16) r(60);
            flex-wrap: wrap;
            margin: r(34) 0 r(36) 0; 

            @include max-tablet {
                margin: r(24) 0;
                gap: r(12) r(40);
            }
        }

        &__item {
            height: r(48);
            display: flex;
            align-items: center;

            img {
                max-height: 100%;
            }
        }
    }

    .nav {
        width: r(238);
        max-width: 100%;

        &__title {
            margin-bottom: r(24);
            font-size: r(12);
            color: $blueColor;
            line-height: r(20);
            letter-spacing: r(2.2);
            font-weight: 700;
            text-transform: uppercase;
        }

        &__list {
            display: flex;
            gap: r(8);
            flex-direction: column;
        }

        &__link {
            color: rgba(255, 255, 255, 0.6);
            border-bottom: r(1) solid transparent;

            @include min-laptop {
                &:hover {
                    color: $whiteColor;
                    border-bottom-color: $whiteColor;
                }
            }
        }
    }

    .contact {
        width: r(270);
        max-width: 100%;

        &__title {
            margin-bottom: r(24);
            font-size: r(12);
            color: $blueColor;
            line-height: r(20);
            letter-spacing: r(2.2); 
            font-weight: 700;
            text-transform: uppercase;
        }

        .list {
            display: flex;
            gap: r(20);
            flex-direction: column;
            margin: r(24) 0;

            &__item {
                font-size: r(14);
                color: $whiteColor;
                line-height: r(20);
                font-weight: 400;
            }

            &__link {   
                font-size: r(14);
                color: $whiteColor;
                line-height: r(20);
                font-weight: 400;

                &_phone {
                    font-size: r(24);
                    line-height: r(32);
                }
            }
        } 

        .soc {
            display: flex;
            gap: r(32);
            flex-wrap: wrap;
            margin: r(28) 0;

            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: r(24);
                height: r(24);
                color: $whiteColor;

                .icon {
                    max-width: 100%;
                    max-height: 100%;
                }

                @include min-laptop {
                    &:hover {
                        color: $whiteColor;
                    }
                }
            }
        }

        &__btn {
            width: fit-content;
            height: r(48);
            padding: 0 r(24);
            margin-top: r(32);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: r(16);
            color: $whiteColor;
            line-height: r(24);
            font-weight: 500;
            background-color: $blueColor;
            border: none;
            outline: none;
            border-radius: r(30);  

            @include min-laptop {
                &:hover {
                    background-color: $hoverColor;
                }
            }
        }
    }

    &__copyright {
        font-size: r(14);
        color: rgba(255, 255, 255, 0.7);
        line-height: r(20);
        font-weight: 400;
        white-space: nowrap;

        @include max-laptop {
            order: 2;
        }
    }

    &__privacy {
        display: flex;
        justify-content: flex-end;
        gap: r(12) r(26);
        flex-wrap: wrap;

        @include max-laptop {
            justify-content: center;
        }

        a {
            font-size: r(14);
            color: rgba(255, 255, 255, 0.7);
            line-height: r(20);
            font-weight: 400;

            @include min-laptop {
                &:hover {
                    color: $whiteColor;
                }
            }
        }
    }
}
