.header {
    position: sticky;
    top: 0;
    min-height: r(120);
    box-shadow: 0 r(1) 0 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(r(47));
    z-index: 10;

    @include max-laptop {
        min-height: r(64);
        background-color: $whiteColor;
    }

    .container {
        display: flex;
        gap: r(30);
        align-items: center;
        justify-content: space-between;
        flex: 1;
    }

    &__top {
        display: flex;
        flex-direction: column;
        min-height: r(64);
        padding: r(12) 0;

        @include max-laptop {
            min-height: r(64);
            padding: r(4) 0;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        min-height: r(56);  
        border-top: r(1) solid rgba(255, 255, 255, 0.1);

        @include max-laptop {
            display: none;   
        }
    }

    &__left {
        display: flex;
        gap: r(24);    
        flex-wrap: wrap;
        align-items: center;

        @include max-laptop {
            display: none;   
        }  
    }

    &__right {
        display: flex;
        gap: r(24);
        flex-wrap: wrap;
        align-items: center;
    }

    &__title {
        font-family: $eUkraineHead;
        font-size: r(20);
        line-height: r(28);
        font-weight: 700;
        margin-right: r(105);  
    }

    &__logo {
        width: fit-content;
        height: r(40);
        display: flex;
        align-items: center;

        img {
            display: block;
            max-height: 100%;
        }
    }

    .contact {
        display: flex;
        gap: r(38);
        align-items: center;

        &__item {
            position: relative;
            display: flex;
            gap: r(8);
            align-items: center;  
            transition: color .35s ease;
            pointer-events: none;

            @include min-laptop {
                &:hover {
                    color: $blueColor;
                }
            }

            &:not(:first-child):before {
                content: '';
                position: absolute;
                top: calc(50% - #{r(3)});
                left: r(-22);
                display: block;
                width: r(6);
                height: r(6);
                background: rgba(0, 0, 0, 0.3);
                border-radius: 50%;
            }
        }

        &__icon {
            width: r(20);
            height: r(20);
        }

        &__link {
            font-size: r(14);
            line-height: r(20);
            font-weight: 400;
            pointer-events: auto;

            @include min-laptop {
                &:hover {
                    color: $blueColor;

                }
            }
        }
    }

    .nav {
        display: flex;

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 0 r(30);
        }

        &__item {
            margin: 0;
        }

        &__link {
            position: relative;
            height: r(55);
            display: flex;
            align-items: center;
            font-size: r(14);
            line-height: r(20);
            font-weight: 400;
            user-select: none;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: r(2);
                background-color: $blueColor;
                -webkit-transform-origin: right center;
                -ms-transform-origin: right center;
                transform-origin: right center;
                transform: scale(0, 1);
                transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
            }

            @include min-laptop {
                &:hover {
                    color: $blueColor;
                }
            }

            &_active {
                color: $blueColor;

                &::after { 
                    -webkit-transform-origin: left center;
                    -ms-transform-origin: left center;
                    transform-origin: left center;
                    -webkit-transform: scale(1, 1);
                    -ms-transform: scale(1, 1);
                    transform: scale(1, 1);
                }
            }
        }
    }

    &__btn {
        height: r(55);
        display: flex;
        gap: r(10);
        align-items: center;
        font-size: r(14);
        line-height: r(20);
        font-weight: 400;
        white-space: nowrap;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        transition: opacity .35s ease, color .35s ease;  

        .icon {
            width: r(20);
            height: r(20);
        }

        @include min-laptop {
            &:hover {
                opacity: .8; 
                color: $blueColor;
            }
        }
    } 

    .toggle-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: r(50);
        height: r(54);
        padding: 0 r(10);
        cursor: pointer;
        z-index: 1;

        display: none;

        @include max-laptop {
            display: flex;
        }

        span{
          display: block;
          position: absolute;
          top: calc(50% - #{r(2)});
          left: r(10);
          right: r(10);
          height: r(2);
          border-radius: r(2);
          width: calc(100% - #{r(20)});
          background: $blackColor;
          transition: all 0.35s ease-in-out;

          &:before{
            content: "";
            position: absolute;
            display: block;
            top: r(-8);
            left: 0;
            width: 100%;
            height: r(2);
            border-radius: r(2);
            background-color: $blackColor;
            transition: all 0.25s ease-in-out;
            -webkit-transition-property: top, -webkit-transform;
            transition-property: top, transform;
          }

          &:after{
            content: "";
            position: absolute;
            display: block;
            left: 0;
            bottom: r(-8);
            width: 100%;
            height: r(2);
            border-radius: r(2);
            background-color: $blackColor;
            transition: all 0.25s ease-in-out;
          }
        }
  
        &.active{
  
          span{
            background-color: transparent;
            transition: all 0.15s ease-in-out;

            &:before{
              top: 0;
              transform: rotate(45deg);
            }

            &:after{
              bottom: 0;
              transform: rotate(-45deg);
            }
          }
        }
    }

    .mobNav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: calc(100dvh - #{r(64)});
        display: flex;
        flex-direction: column;
        padding: r(20) r(15);
        overflow: auto;
        background-color: $whiteColor;
        z-index: 8;
        transform: translateX(-100%);
        transition: .6s transform;

        .header {
            &__title {
                margin-right: 0;
                margin-bottom: r(20);
            }

            &__contact {
                gap: r(10) r(38);
                flex-wrap: wrap;
            }
        }

        .nav {
            flex: 1;
            width: 100%;
            padding: r(14) 0;
            border-top: #{r(1)} solid rgba(0, 0, 0, 0.1);

            &__list {
                flex-direction: column;
                width: 100%;
            }

            &__link {
                display: block;
                height: auto;
                padding: r(14) 0;
                font-size: r(16);
                line-height: r(18);

                &::after {
                    display: none;
                }
            }
        }
    }
}

.home, .teams {
    .header {
        margin-bottom: r(-120);

        @include max-laptop {
            margin-bottom: r(-64);
        }
    }
}















