.hit-card {
    width: 100%;

    .h4-title {
        margin-bottom: r(16);
    }

    &__label {
        width: fit-content;
        height: r(20);
        display: flex;
        align-items: center;
        padding: 0 r(6);
        margin: r(15) 0 r(9) 0;
        font-size: r(10);
        color: $whiteColor;
        line-height: r(20); 
        letter-spacing: r(1);
        font-weight: 700;
        text-transform: uppercase;
        background-color: $redColor;

        &_blue {
            background-color: $blueColor;
        }
    }
}