.meeting-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: r(350);
    border: r(1) solid rgb(232, 232, 232);

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: r(23) r(23) r(22) r(23);
    }

    &__text {
        flex: 1;

        p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
        }
    }

    .h4-title {
       margin-bottom: r(13);
    }

    .members {
        display: flex;
        flex-direction: column;

        &__caption {
            font-size: r(12);
            line-height: r(16);
            font-weight: 500;
            margin-bottom: r(9);
        }

        &__list {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            font-size: r(14);
            color: $grayColor;
            line-height: r(20);
            font-weight: 400;
        }
    }

    &__bottom {
        display: flex;
        gap: r(20);
        align-items: center;
        justify-content: space-between;
        padding: r(22) r(24) r(20) r(24);
        border-top: r(1) solid rgb(232, 232, 232);
    }

    .date {
        display: flex;
        align-items: center;
        gap: r(12);

        &__icon {
            width: r(36);
            height: r(36);
            display: flex;
            align-items: center;
            justify-content: center;
            color: $blueColor;
            background-color: #EFF7FD;
            border-radius: 50%;

            .icon {
                width: r(20);
                height: r(20);
            }
        }

        &__text {
            width: calc(100% - #{r(36)} - #{r(12)});
        }

        &__title {
            font-size: r(12);
            line-height: r(16);
            font-weight: 500;
            margin-bottom: r(5);
        }

        &__number {
            font-size: r(14);
            color: $grayColor;
            line-height: r(20);
            font-weight: 400;
        }
    }

    &__more {
        display: flex;
        gap: r(11);
        align-items: center;
        justify-content: flex-end;
        margin: 0 r(11);
        font-size: r(14);
        color: $blueColor;
        line-height: r(18);
        font-weight: 500;

        @include max-tablet {
            font-size: r(12);
            line-height: r(16);
            margin: 0;
        }

        .icon {
            min-width: r(8); 
            width: r(8); 
            height: r(13.33);
        }
    }
}
