.new-card {
    width: 100%;

    @include min-laptop {
        &:hover {
            .h3-title {
                color: $blueColor;
            }
        }
    }

    @include max-laptop {
        display: flex;
        gap: r(12);
    }

    @include max-tablet {
        flex: 0 1 100%;    
        max-width: 100%;
    }

    &__image {
        width: 100%;
        height: r(240);
        overflow: hidden;

        @include max-laptop {
            width: r(126);
            min-width: r(126);
            height: r(94);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform .35s ease;
        }
    }

    .h3-title {
        transition: color .35s ease;

        @include max-laptop {
            font-size: r(13);
            line-height: r(18);
            font-weight: 400;
        }
    }

    &__text {
        padding-top: r(19);

        @include max-laptop {
            padding-top: 0;
        }
    }

    &__date {
        margin-bottom: r(13);
        font-size: r(14);
        color: $grayColor;
        line-height: r(17);
        font-weight: 300;

        @include max-laptop {
            font-size: r(12);
            margin-bottom: r(5);
        }
    }
}
