.pagination {
    margin-top: r(60);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include max-laptop {
        justify-content: center;
    }

    @include max-tablet {
        margin: r(44) r(-15) 0 r(-15);
    }

    &__prev {
        min-width: r(36);
        min-height: r(36);
        display: flex;
        gap: r(12);
        align-items: center;
        padding: 0 r(12);
        font-size: r(14);
        color: $blueColor;
        line-height: r(20);
        font-weight: 500;
        transition: background-color .35s ease;

        @include max-laptop{
            gap: 0;
            font-size: 0;
            justify-content: center;
        }

        @include min-laptop {
            &:hover {
                background-color: #E8E8E8;
            }
        }

        .icon {
            min-width: r(8); 
            width: r(8); 
            height: r(13.33);
            order: -1;
        }
    }

    &__next {
        min-width: r(36);
        min-height: r(36);
        display: flex;
        gap: r(12);
        align-items: center;
        padding: 0 r(12);
        font-size: r(14);
        color: $blueColor;
        line-height: r(20);
        font-weight: 500;
        text-align: right;
        transition: background-color .35s ease;

        @include max-laptop {
            gap: 0;
            font-size: 0;
            justify-content: center;
        }

        @include min-laptop {
            &:hover {
                background-color: #E8E8E8;
            }
        }

        .icon {
            min-width: r(8); 
            width: r(8); 
            height: r(13.33);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: r(4);
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__item {
        min-width: r(36);
        display: flex;
        justify-content: center;
        font-size: r(14);
        color: $grayColor;
        line-height: r(20);

        @include max-tablet {
            min-width: r(30);
            font-size: r(12);
        }
    }

    &__link {
        width: 100%;
        height: r(36);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: r(14);
        color: $grayColor;
        line-height: r(20);
        font-weight: 400;
        border-radius: 50%;

        @include max-tablet {
            height: r(30);
            font-size: r(12);
        }

        @include min-laptop {
            &:not(&_active):hover {
                color: $blueColor;
                background-color: #E8E8E8;
            }
        }

        &_active {
            color: $whiteColor;
            background-color: $blueColor;
        }
    }
}
