.participant-card {
    width: 100%;

    &__logo {
        width: 100%;
        height: r(128);
        margin-bottom: r(23); 
        display: flex;
        justify-content: center;

        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }   
    }

    &__text {
        padding-top: r(24);
        text-align: center;
        border-top: r(1) solid rgb(232, 232, 232);
    }

    &__title {
        font-size: r(12);
        line-height: r(16);
        font-weight: 500;
    }
}
