@import "../common/mixins";
@import "../common/variable"; 

.error-404 {
    padding: r(80) 0;
    text-align: center; 

    .h2-title {
        margin-bottom: r(16);
    }

    .h3-title {
        margin-bottom: r(21);
    }

    &__image {
        height: fit-content;
        max-height: r(370);
        margin-bottom: r(-15);

        img {
            display: block;
            max-height: 100%;
            margin: 0 auto;
        }
    }

    &__btn {
        width: fit-content;
        height: r(48);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 r(30);
        margin: 59px auto 0;
        font-size: r(16);
        color: $whiteColor;
        line-height: r(24);
        font-weight: 500; 
        background-color: $blueColor;
        border: none;
        outline: none;
        border-radius: r(30);

        @include max-tablet {
            margin-top: r(30);
        }

        @include min-laptop {
            &:hover {
                background-color: $hoverColor; 
            }
        }
    }
}
