@import "../common/mixins";
@import "../common/variable"; 

.chart {
    margin: r(80) 0 r(81) 0;
    padding: r(79) 0 r(83) 0;
    background-color: #EFF7FD; 

    @include max-laptop {
        margin: r(64) 0;
        padding: r(64) 0;
    } 

    @include max-tablet {
        padding: r(54) 0;
    }

    .h2-title {
        margin-bottom: r(58);

        @include max-tablet {
            margin-bottom: r(34);
        }
    }

    &__content {
        display: flex;
        gap: r(30);
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        width: r(470);
        max-width: calc(50% - #{r(16)});
        height: fit-content;
        max-height: r(402);

        @include max-laptop {
            max-width: calc(50% - #{r(20)});
            height: r(320);
        }

        @include max-tablet {
            width: 100%;
            max-width: max-content;
            max-height: r(280);
            order: 2;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: r(103);
            transform: rotate(180.00deg);
            background: linear-gradient(180.00deg, rgb(239, 247, 253),rgba(239, 247, 253, 0) 100%);
        }
    } 

    .list {
        flex: 1;
        display: flex;
        gap: r(16);
        flex-direction: column;
        max-height: 100%;
        padding-bottom: r(103);
        overflow: auto;
        
        &::-webkit-scrollbar {
            display: none;
        }

        &__item {
            font-size: r(14);
            line-height: r(18);
            font-weight: 300;
        }
    }

    .bar {
        width: calc(50% - #{r(16)});
        height: r(402);
        padding: r(11) r(91) 0 r(70);
        display: flex;
        align-items: center; 
        justify-content: center;
        background-color: $whiteColor;  

        @include max-laptop {
            width: calc(50% - #{r(10)});
            height: r(320);
            padding: r(30) r(10);
        }

        @include max-tablet {
            width: calc(100% + #{r(30)});
            height: r(320);
            padding: r(30) r(10);
            margin: 0 r(-15);
        }

        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }
    } 
}
