@import "../common/mixins";
@import "../common/variable"; 
@import "../element/breadcrumbs";
@import "../element/hit-card";

.hits-list {
    padding: r(60) 0 r(80) 0;

    @include max-laptop {
        padding: r(30) 0 r(60) 0;       
    }

    @include max-tablet {
        padding: r(20) 0 r(40) 0; 
    }

    .h1-title {
        margin-bottom: r(60);

        @include max-laptop {
            margin-bottom: r(40);
        }

        @include max-tablet {
            margin-bottom: r(30);
        }
    }

    &__bottom {
        margin-top: r(59);
        display: flex;
        gap: r(20);
        align-items: center;
        justify-content: center;

        @include max-laptop { 
            margin-top: r(42);  
        }

        @include max-tablet {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
    }

    &__arrows {
        display: flex;
        gap: r(11);
        align-items: center;
    }
}
