@import "../common/mixins";
@import "../common/variable"; 
@import "../element/breadcrumbs"; 
@import "../element/pagination";

.meeting-list {
    margin: r(60) 0 r(80) 0;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 3px;
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06);

    @include max-laptop {
        margin: r(40) 0 r(60) 0;
    }

    @include max-tablet {
        margin: r(30) 0 r(50) 0;
    }

    &__head {
        padding: r(16) r(16);
        display: flex;
        gap: r(10);
        justify-content: space-between;
        background-color: #F6F6F6;

        @include max-tablet {
            flex-direction: column;
        }

        select {
            min-height: r(36);
            padding: 0 r(8);
            font-size: r(14);
            color: $grayColor;
            line-height: r(20);
            font-weight: 400;
            border: r(1) solid #E8E8E8;
            border-radius: r(3);

                &:focus-visible {
                    border-color: #E8E8E8;
                    outline: none;
                }
        }
    }

    &__content {
        background-color: $whiteColor;
    }

    &__bottom {
        padding: r(14) r(16);
        background-color: #F6F6F6;
    }

    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;

        @include max-tablet {
            display: flex;
            flex-direction: row;
        }

        thead {
            background-color: #F6F6F6;

            tr {
                @include max-tablet {
                    display: flex;
                    flex-direction: column;
                }

            }
        }

        tbody {
            @include max-tablet {
                display: flex;
                flex-direction: row;
                overflow: auto;
            }

            tr {
                @include max-tablet {
                    display: flex;
                    flex-direction: column;
                    min-width: r(160);
                }

            }

            tr:not(:last-child) {
                border-bottom: r(1) solid #F2F2F2;
            }
        }

        tr {
            th {
                &:first-child {
                    @include min-laptop {
                        width: 38.5%;
                    } 
                }

                &:nth-child(2) {
                    @include min-laptop {
                        width: r(122);
                    }
                }

                &:last-child {
                    @include min-laptop {
                        width: r(49);
                        text-align: center;
                    }
                }
            }
        }

        th {
            padding: r(20) r(16);
            font-size: r(12);
            color: #373737;
            line-height: r(16);
            font-weight: 500;

            @include max-tablet {
                min-height: r(60);
                padding: r(14) r(16);
                display: flex;
                align-items: center;
            }
        }

        td {
            padding: r(14) r(16);
            font-size: r(14);
            color: #373737;
            line-height: r(20);
            font-weight: 400;

            @include max-tablet {
                min-height: r(60);
                font-size: r(12);
                line-height: r(16); 
                display: flex;
                align-items: center;
                border-bottom: r(1) solid #F2F2F2;
            }

            p {
                @include max-tablet {
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }
            }

            .icon {
                width: r(16);
                height: r(10);
                color: $blueColor;
            }
        }
    }










    .pagination {
        margin: 0;
    }
}