@import "../common/mixins";
@import "../common/variable"; 
@import "../element/new-card"; 

.news {
    padding: r(79) 0 r(80) 0;
    background-color: #EFF7FD;

    @include max-laptop {
        padding: r(64) 0;
    } 

    @include max-tablet {
        padding: r(54) 0;
    }

    .h2-title {
        margin-bottom: r(42);

        @include max-tablet {
            margin-bottom: r(34);
        }
    }

    &__bottom {
        margin-top: r(60);
        display: flex;
        gap: r(20);
        align-items: center;
        justify-content: space-between;

        @include max-laptop { 
            margin-top: r(42);  
        }

        @include max-tablet {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
        }
    }

    &__arrows {
        display: flex;
        gap: r(11);
        align-items: center;
    }

    &__all {
        width: fit-content;
        height: r(48);
        display: flex;
        gap: r(12);
        align-items: center;
        justify-content: center;
        padding: 0 r(24);
        font-size: r(16);
        color: $whiteColor;
        line-height: r(24);
        font-weight: 500; 
        background-color: $blueColor;
        border: none;
        outline: none;
        border-radius: r(30);

        .icon {
            width: r(8);
            height: r(13.33);
        }

        @include min-laptop {
            &:hover {
                background-color: $hoverColor; 
            }
        }
    }
} 
