@import "../common/mixins";
@import "../common/variable"; 
@import "../element/breadcrumbs"; 
@import "../element/new-card";
@import "../element/pagination";

.news-list {
    padding: r(60) 0 r(80) 0;

    @include max-laptop {
        padding: r(30) 0 r(60) 0;       
    }

    @include max-tablet {
        padding: r(20) 0 r(40) 0; 
    }

    .h1-title {
        margin-bottom: r(60);

        @include max-laptop {
            margin-bottom: r(40);
        }

        @include max-tablet {
            margin-bottom: r(30);
        }
    }

    &__wrapper {
        display: flex;
        gap: r(30);
        flex-wrap: wrap;

        @include max-laptop {
            gap: r(30);
        }

        @include max-tablet {
            gap: r(24);
        }

        hr {
            width: 100%;
            height: r(1);
            margin: r(8) 0 r(11) 0;
            border: 0;
            border-top: r(1) solid #D9D9D9;

            @include max-laptop {
                display: none;
            }
        }

        .new-card {
            flex: 0 1 calc(33.333333% - #{r(20)});    
            max-width: calc(33.333333% - #{r(20)}); 

            @include max-laptop {
                flex: 0 1 calc(50% - #{r(15)});    
                max-width: calc(50% - #{r(15)}); 
            }

            @include max-tablet {
                flex: 0 1 100%;  
                max-width: 100%; 
            }
        }
    }
}
