@import "../common/mixins";
@import "../common/variable"; 
@import "../element/participant-card"; 

.participants {
    margin: r(80) 0;

    @include max-laptop {
        margin: r(64) 0;
    } 

    hr {
        margin-bottom: r(79);
        border: 0;
        border-top: r(1) solid #D9D9D9;

        @include max-tablet {
            margin-bottom: r(64);
        }
    }

    .swiper-pagination {
        gap: 0;
        margin-top: r(60);

        &-bullet {
            width: r(10);
            height: r(10);
            margin: 0;
            background-color: $whiteColor;
            border: r(1) solid $blackColor;
            opacity: 1;
            border-radius: r(20);
            transition: all .3s ease;

            &-active {
                width: r(18);
                background-color: $blackColor;
            }
        }
    }
}

