@import "../common/mixins";
@import "../common/variable"; 

.result {
    margin: r(79) 0;

    @include max-tablet {
        margin: r(64) 0;
    }

    &__content {
        display: flex;
        gap: r(12);
        flex-direction: column;
        padding: r(76) r(34) r(72) r(34); 
        border-width: r(4);
        border-style: solid;
        border-image: linear-gradient(45.00deg, rgb(209, 107, 165) 0%,rgb(199, 119, 185) 9.091%,rgb(186, 131, 202) 18.182%,rgb(170, 143, 216) 27.273%,rgb(154, 154, 225) 36.364%,rgb(138, 167, 236) 45.455%,rgb(121, 179, 244) 54.545%,rgb(105, 191, 248) 63.636%,rgb(82, 207, 254) 72.727%,rgb(65, 223, 255) 81.818%,rgb(70, 238, 250) 90.909%,rgb(95, 251, 241) 100%) 1;
    
        @include max-laptop {
            padding: r(66) r(24); 
        }

        @include max-tablet {
            padding: r(44) r(24); 
        }
    }

    .list {
        display: flex;
        gap: r(30);
        flex-wrap: wrap;

        &__item {
            flex: 0 1 calc(25% - #{r(22.5)});    
            max-width: calc(25% - #{r(22.5)}); 
            text-align: center;

            @include max-laptop {
                flex: 0 1 calc(50% - #{r(15)});    
                max-width: calc(50% - #{r(15)}); 
            }

            @include max-tablet {
                flex: 0 1 100%;    
                max-width: 100%; 
            }
        }

        &__number {
            margin-bottom: r(13);
            font-size: r(48);
            color: $blueColor;
            line-height: r(58);
            font-weight: 700;

            @include max-laptop {
                font-size: r(40);
                line-height: r(50); 
            }

            @include max-tablet {
                font-size: r(36);
                line-height: r(46); 
                margin-bottom: r(10);
            }

            span {
                font-size: r(20);
                line-height: r(18);
                margin-left: r(8);
            }
        }
    }
}
