@import "../common/mixins";
@import "../common/variable"; 
@import "../element/breadcrumbs"; 
@import "../element/pagination";

.search_results {
    padding: r(60) 0 r(80) 0;

    @include max-laptop {
        padding: r(30) 0 r(60) 0;       
    }

    @include max-tablet {
        padding: r(20) 0 r(40) 0; 
    }

    .h1-title {
        margin-bottom: r(60);

        @include max-laptop {
            margin-bottom: r(40);
        }

        @include max-tablet {
            margin-bottom: r(30);
            font-size: r(24);
            line-height: r(34);
        }
    }

    .results {
        &__item {
            display: flex;
            gap: 0 r(40);
            flex-direction: row;
            padding: r(40) 0;

            @include max-laptop {
                gap: 0 r(30);
            }

            @include max-tablet {
                flex-direction: column;
                gap: r(20);
            }

            @include max-tablet {
                padding: r(30) 0;
            }

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                padding-bottom: 0;
            }

            &:not(:last-child) {
                border-bottom: r(1) solid #DFDFDF;
            }
        }

        &__text {
            display: flex;
            gap: r(12);
            flex-direction: column;
        }

        &__image {
            width: r(270);
            min-width: r(270);

            @include max-laptop {
                width: r(220);
                min-width: r(220);
            }

            @include max-tablet {
                width: 100%;
                order: -1;
            }

            img {
                display: block;
                width: 100%;
            }
        }

        &__date {
            font-size: r(12);
            color: $grayColor;
            line-height: r(16);
            font-weight: 500;
        }

        &__link {
            font-size: r(16);
            color: $blueColor;
            line-height: r(24);
            font-weight: 700;

            @include min-laptop {
                &:hover {
                    color: $blackColor;
                    text-decoration: underline;
                }
            }
        }

        p {
            margin: r(12) 0;
            font-size: r(16);
            color: $blackColor;
            line-height: r(24);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;

            @include max-tablet {
                margin: 0;
            }
        }
    }
}
