@import "../common/mixins";
@import "../common/variable"; 

.step {
    padding-top: r(2);
    margin-bottom: r(79); 
    text-align: center;  

    @include max-tablet {
        margin-bottom: r(64);
    }

    &__head {
        margin-bottom: r(60);

        @include max-laptop {
            margin-bottom: r(48);    
        }

        @include max-tablet {
            margin-bottom: r(32);
        }
    }

    .h2-title {
        margin-bottom: r(19);

        @include max-tablet {
            margin-bottom: r(14);
        }
    }

    .list {
        display: flex;
        gap: r(44) r(30);
        flex-wrap: wrap;

        &__item {
            flex: 0 1 calc(33.333333% - #{r(20)});    
            max-width: calc(33.333333% - #{r(20)}); 
            display: flex;
            gap: r(10);
            flex-direction: column;
            align-items: center;

            @include max-tablet {
                flex: 0 1 100%;  
                gap: 0; 
                max-width: 100%; 
            }
        }

        &__number {
            display: flex;
            align-items: center;
            justify-content: center;
            width: r(70);
            height: r(70);
            margin-bottom: r(19);
            font-size: r(34);
            color: $whiteColor;
            line-height: r(40);
            font-weight: 700;
            background-color: $blueColor;
            border-radius: 50%;
        }

        .h4-title {
            margin-bottom: r(7);
        }
    }
}
